*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    
    
}
.header{
    min-height: 500px;
    width: 100%;
    background-image: url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
    
    background-size: cover;
    padding-bottom: 100px;
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.headerc{
    min-height: 500px;
    width: 100%;
    background-image: url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
    
    background-size: cover;
    padding-bottom: 100px;
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    
}
.headerl{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.break{
    min-height: 200px;
    width: 100%;
    background-image: url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.breakk{
    min-height: 100px;
    width: 100%;
    background-image: url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
nav{
    display: flex;
    padding: 2% 6%;
    
    justify-content: space-between;
    align-items: left;
   
    
}
nav img{
    width: 250px;
    background-position: fixed;
    background-color: #00000099;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
.nav-links{
    flex: 1;
    
    width: fit-content;
    text-align: center;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    
} 
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fa7e09;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    
}
.text-bx{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-bx h1{
    color: #fff;
    
}
.text-bx p{
    color: #fff;
    
}
.text-box h1{
    font-size: 60px;
    color: #fff;
    font-weight: 200;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    
    color: #fff;
}

.hero-htn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.hero-htn:hover{
    border: 10px solid #fa7e09;
    background: #fa7e09;
    transition: 1s;
}
nav .fa{
    display: none;
    
}


@media(max-width: 700px){



    .header{
        background-image: url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
        background-attachment:scroll;
  
    }
   
   
    
    .headerc{
        background-image: none;
        background-color: #fff;
        background-attachment:scroll;
        

    }
    .headerc h4{
        color: #fa7e09;
        font-size: 42px;
    }
    .break{
        background-image: url(image/max-lissenden-zXzcUJYs7PY-unsplash.jpg);
        min-height: 75px;
        background-attachment:fixed;

    }
    
    
   .text-box{
    text-align: left;
   }
   
    
    .text-box h1{
        font-size: 34px;
        color: fff;
        
    }
    .nav-links ul li{
        display: block;
        
    }
    .nav-links{
        position: fixed;
        background: #fff;
        height: 67vh;
        width: 120px;
        top: 0;
        right: -120px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
        
        
        
        
        
        
        
    
  
    

    
    nav .fa{
        display: block;
        color: #fa7e09;
        margin: 12px;
        font-size: 22px;
        cursor: pointer;
        transition: 1s;

        

        
    }
    
    
    
    .nav-links ul{
        padding: 10px;
    }
}
    
        
    

#slide {
    position: absolute;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    

   
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.service{

    margin: auto;
    width: 100%;
    text-align: center;
    
    
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #fa7e09;
    font-family: 'Oooh Baby', cursive;
    padding-top: 100px;
}
p{
    color: #fa7e09;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 20px;
    
    
    
}
.service-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    width: 80%;


}
.social{
    padding-top: 100px;
    padding-bottom: 100px;
}
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
  }
  
  .service-co a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

  }
 

.service-co{
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    margin: auto;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    background-color: white;
}
.service-co img{
    display: inline-block;
    width: 40%;


}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 50px;
    font-family: 'Oooh Baby', cursive;

}


.service-col:hover{
    box-shadow: 0 0 20px 10px rgb(235, 139, 37);

}
div img{
    width: 200px;
}

.row{

    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 50pxpx;
    position: relative;
    
}


.pic-col{

    flex-basis: 50%;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    

    border-left: #fa7e09;
    border-right: #fa7e09;
    border-width: 5px;
    
}
#formAnchor2060011477{
    background-color: #fa7e09;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: o;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #fa7e09;
}
.photo{
    width: 600px;
}

@media(max-width: 700px){

    div.scrollmenu {
        width: 100%;
        display: block;
      }

    
    .service{
    
    display: block;
    width: 100%;
    

    }
    
    .service-col{
        display: inline-block;
        width: 80%;
    }
    div img{
        width: 80%;
        
    }

    .service-col{
        display: inline-block;
        width: 100%;
        

    }
    .service-col img{
        width: 90%;
    }
    .row{
        display: block;

    }
    .photo{
        margin: auto;

        min-height: 200px;
    }
    .photo img{
        
        width: 90%;
        
    }
}


.cat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    



}
.seo{
    display: flex;
    padding: 15px;
}
.pp{
    width: 100%;
    flex-basis: 40%;

}
.pp img{
    max-width: 300px;
}
.photo{
    
    font-size: 16px;
    font-weight: 200;
    line-height: 5px;
    text-align: center;
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    flex-direction: 100%;


}
.photo img{

    width: 80%;
    height: fit-content;
}
h4{
    color:#fff;
    font-size: 32px;
    font-weight: 100;
    line-height: 5px;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    padding-bottom: 50px;
    padding-top: 25px;


}

.bottom{

    background-color: #231f20;
    width: 100%;
    
}


.down{
    background-color: #231f20;
    width: 100%;
    padding-top: 200px;
    display: flex;
    
    
}
.linkz{
    background-color: #231f20;
    width: 50%;
    flex-basis: 25%;
    margin: auto;
    
   
    
}
.mapp{
    background-color: #fa7e09;
    margin: auto;
    right: 0;
    padding-top: 15px;
}
.linkz ul li {
    list-style: none;
    color: aliceblue;
    
    padding-bottom: 100px;
    padding: 10px;
    

}
.linkz a{
    color: aliceblue;
    text-decoration: none;
    

}
.down img{

    width: 150px;
    padding-left: 100px;
}
.polo{
    width: 100%;
    height: fit-content;
    background-color: #231f20;
}

.pop{
    color:#fff;
    font-size: 10px;
    font-weight: 200;
    line-height: 5px;
    text-align: center;
    background-color: #231f20;
    justify-content: space-between;
}

@media(max-width: 700px){
    .linkz img{
    
        display:list-item;
        width: 100%;
        right: 0;
        left: 0;
        

    }
    .cat{
        display: flex;
    
    }
        .photo{
    
            min-height: 150px;
            
            width: 80%;
            
        }
    


    

    }
    h4{
        
        font-size: 22px;
        word-spacing: normal;
        
    }

.sec{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 2px;
    
}
.sec p{
    
    
    text-align: center;
    
    
    
}
.cut{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}

.secc{
    width: 40%;
    background-color: white;
    height: 200px;
    border-radius: 7px;
    margin-left: 50%;
    
}
.secc p{
    
    
    text-align: center;
    
    
    
}
.seccc{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 2px;
    
}
.seccc p{
    
    
    text-align: center;
    
    
    
}
h2{
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
    margin-top: 50px;
    font-family: 'Oooh Baby', cursive;
    color: #fa7e09;
    font-size: 32px;
}









#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fa7e09;
    text-align: left;
    background-color: #ffffff99;
    padding: 30px;
    padding-bottom: 10px;
    
    border-radius: 0.25rem;
    max-width: 40%;
    margin-left: 50%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fa7e09;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #fa7e09;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
    display: none;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #fa7e09;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #00000099;
    border-color: #fa7e09;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #fa7e09;
    border-color: #fa7e09;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #fa7e09;
    border-color: #fa7e09;
    box-shadow: 0 0 0 0.2rem rgba(255, 149, 0, 0.564);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
.fcf-h3{
    font-size: 24px;
}


  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
 .map{
    padding-left: 400px;
 } 
 @media(max-width: 700px){
    .secc{
        width: 90%;
        margin-left: 5%;
        border-radius: 7px;
        
        
        
    }
    .secc p{
        font-size: 12px;
        border-style: ridge;
        border-color: #fa7e09;
        border-width: 90%;
        
        
    }
    .fcf-body{
        max-width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    .down{
        width: 100%;
        display: block;
    }
    .down img{
        display: block;
        margin: auto;
        left: 0;

    }
    .map{
        width: 90%;
        display: inline-block;
        position:sticky;
        padding-left: 0;
        padding-bottom: 15px;
        margin-left: 5%;
        margin-right: 5%;
        
        
    }
}
