*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    
    
}
.header{
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash.jpg);
    
    background-size: cover;
    padding-bottom: 100px;
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.headerc{
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.headerl{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.break{
    min-height: 200px;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.breakk{
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash.jpg);
    
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
nav{
    display: flex;
    padding: 2% 6%;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    background-position: fixed;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.nav-links ul li a{
    color: #e6bf6d;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #e6bf6d;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-bx{
    width: 90%;
    color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-bx h1{
    color: #fcfcfc;
    
}
.text-bx p{
    color: #fcfcfc;
    
}
.text-box h1{
    font-size: 60px;
    color: #e6bf6d;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    
    color: #fcfcfc;
}

.hero-htn{
    display: inline-block;
    text-decoration: none;
    color: #fcfcfc;
    border: 1px solid #fcfcfc;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-htn:hover{
    border: 10px solid #e6bf6d;
    background: #e6bf6d;
    transition: 1s;
}
nav .fa{
    display: none;
    
}


@media(max-width: 500px){



    .header{
        background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash\ -\ Copy.jpg);
        background-attachment:scroll;
  
    }
   
   
    
    .headerc{
        background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash\ -\ Copy.jpg);
        background-attachment:scroll;

    }
    .break{
        background-image: linear-gradient(rgba(29, 41, 0, 0.267),rgba(0, 0, 0, 0.267)),url(image/cristina-gottardi-wVTGdIGdojc-unsplash\ -\ Copy.jpg);
        min-height: 75px;
        background-attachment:scroll;

    }
    .breakk{
        display:none;
    }
    
   .text-box{
    text-align: left;
   }
   
    
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #fcfcfc;
        height: 67vh;
        width: 120px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
        
        
        
        
        
        
        
    
  
    

    
    nav .fa{
        display: block;
        color: #e6bf6d;
        margin: 12px;
        font-size: 22px;
        cursor: pointer;
        transition: 1s;

        

        
    }
    
    
    
    .nav-links ul{
        padding: 10px;
    }
}
    
        
    



.service{

    margin: auto;
    width: 100%;
    text-align: center;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #e6bf6d;
    font-family: 'Oooh Baby', cursive;
    padding-top: 100px;
}
p{
    color: #787a40;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 20px;
    
    
    
}
.service-col{
    flex-basis: 31%;
    background: #fcfcfc28;
    border-radius: 16px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    width: 80%;

}

div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
  }
  
  .service-co a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

  }
 

.service-co{
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    margin: auto;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    background-color: white;
}
.service-co img{
    display: inline-block;
    width: 40%;


}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 50px;
    font-family: 'Oooh Baby', cursive;

}


.service-col:hover{
    box-shadow: 0 0 20px 10px rgb(235, 198, 37);

}
div img{
    width: 200px;
}

.row{

    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 50pxpx;
    position: relative;
    
}

.pic-col{

    flex-basis: 50%;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    

    border-left: #787a40;
    border-right: #787a40;
    border-width: 5px;
    
}


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: o;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #787a40;
}
.photo{
    width: 600px;
}

@media(max-width: 500px){

    div.scrollmenu {
        width: 100%;
        display: block;
      }

    
    .service{
    
    display: block;
    width: 100%;
    

    }
    .row{
        display: block;
    }
    .service-col{
        display: inline-block;
        width: 80%;
    }
    div img{
        width: 80%;
        
    }

    .service-co{
        display: block;
        width: 100%;
        height: fit-content;

    }
    .service-co img{
        width: 90%;
    }
    .photo{
        display: inline-block;
        width: 100%;
        height: fit-content;
    }
}


.cat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    



}
.photo{
    
    font-size: 16px;
    font-weight: 200;
    line-height: 5px;
    text-align: center;
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    flex-direction: 100%;


}
.photo img{

    width: 80%;
    height: fit-content;
}
h4{
    color:#e6bf6d;
    font-size: 32px;
    font-weight: 100;
    line-height: 5px;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    padding-bottom: 50px;
    padding-top: 25px;


}

.bottom{

    background-color: #1b1b11;
    width: 100%;
    
}


.down{
    background-color: #1b1b11;
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: 25%;
    
}
.down img{

    width: 100px;
    padding-left: 200px;
}
.polo{
    width: 100%;
    height: fit-content;
    background-color: #1b1b11;
}

.pop{
    color:#fcfcfc;
    font-size: 12px;
    font-weight: 200;
    line-height: 5px;
    text-align: center;
    background-color: #1b1b11;
    justify-content: space-between;
}

@media(max-width: 700px){

    .cat{
        display: flex;
    
    }
    .photo{
        flex-basis: 48%;
    background: transparent;
    border-radius: 16px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;


    

    }
    h4{
        
        font-size: 22px;
        word-spacing: normal;
        
    }
}
.sec{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 2px;
    
}
.sec p{
    
    
    text-align: center;
    
    
    
}
.secc{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 2px;
    
}
.secc p{
    
    
    text-align: center;
    
    
    
}
.seccc{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 2px;
    
}
.seccc p{
    
    
    text-align: center;
    
    
    
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 50px;
    font-family: 'Oooh Baby', cursive;
    color: #787a40;
    font-size: 32px;
}
