html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #000000;
    align-items: center;
    
}
.us h1{
  color: #fff;
}
.us p{
  color: #ffffff;
}
nav #user #publicKey {
  right: 0;
  height: 50px;
  padding: 5px;
  justify-content: space-between;
  width: 40px;
  margin: auto;
}
nav.sticky{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  
}
nav{
  display: flex;
  padding: 0% 6%;
  
  background-attachment: fixed;
  justify-content: space-between;
  align-items: right;
  background-color: #000000;

 
 
  
}
nav img{
  width: 240px;
  background-color: #000000;
  
  
}
#nav-links {
  
  background-color: rgb(0, 0, 0);
}
.nav-links{
  flex: 1;
  
  width: fit-content;
  text-align: right;
  background-color: #000000;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  animation: fadeIn 5s;
  
  
} 
.nav-links ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  background-attachment: fixed;
  
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fa7e09;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
}
nav .fa{
  display: none;
  
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.vid{
  width: 100%;
  margin: auto;
}
.menu{
    width: 80px;
    text-align: center;
    margin: auto;
    align-items: right;
    color: #000000;
    background-color: #000000;
}
.menu a{
    text-align: center;
    background-color: #000000;
}
.text-top{
  padding-top: 150px;
  padding-left: 25px;
  background-image: url("image/foodbg.gif");
  height: 600px;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
} 
h1{
  text-align: center;
  font-size: 38px;
  font-weight: 200;
  padding:2%;
  margin: auto;
  text-decoration: underline;
  
}
.love p{
  color: #ffffff;
}
.love h1{
  text-align: center;
  font-size: 38px;
  font-weight: 200;
  padding:2%;
  color: #fff;
  
  text-decoration: overline;
  text-decoration: underline overline;
}
.web p{
  color: #fff;
}
p{
  text-align: center;
  font-weight: 200;
  padding:2% 2%;
  font-size: 28px;
}
.contact{
  display: flex;
  width: 100%;
  margin: auto;
}
.contact img{
  flex-direction: column;
  width: 400px;
  width: 80%;
  
}
.web h1{
  text-decoration: underline;
  color: #fff;
}
.work{
  width: 100%;
  
  display: flex;

background-color: rgb(0, 0, 0);
padding-bottom: 100px;

}
.work a{
    width: 70%;
}
.work img{
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  
  margin: auto;
  
}
.work p{
  align-items: center;
  color: #ffffff;
}
.work a :hover{
  box-shadow: 0 0 20px 10px rgb(255, 132, 9);
}


.options{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}
.options a{
  margin: auto;
  
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-between;
}
.nav{
  justify-content: space-between;
    align-items: center;
    width: fit-content;
  display: flex;
  position: -webkit-sticky;
}
.nav img{
  width: 250px;
  
}
.footer p{
  color: #fff;
}
.nav ul{
  flex: 1;
    padding-left: 300px;
    width: fit-content;
    text-align: center;
}
.nav ul li{
  list-style: none;
  display: inline-block;
  padding: 16px 18px;
  position: relative;
  animation: fadeIn 5s;
  
  
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fa7e09;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
} 
.nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  
}
.bg img{
  
  width: 100%;
  height: 500px;
  
}
.us{
  text-align: center;

}
.us h1{
  text-decoration: underline;
}
.us img{
  width: 75px;
}
.apps{
  width: 100%;
  
  display: flex;

background-color: rgb(0, 0, 0);
padding-bottom: 100px;

}
.apps a{
  width: 70%;
}
.apps img{
flex-direction: column;
width: 300px;
justify-content: space-between;

margin: auto;

}
.apps p{
align-items: center;
color: #ffffff;
}
.apps a :hover{
box-shadow: 0 0 20px 10px rgb(255, 132, 9);
}
.footer{
  padding-top: 200px;
}
.footer img{
width: 200px;
}
.footer p{ 
  font-size: 14px;
}
@media(max-width: 700px){
  .contact{
    display: block;
  }
.text-top{
  background-image: url(image/Pro.gif);
  background-size: 100%;
  
}
.work{
  display: block;
}
.apps{
  display: block;
}
  .options{
    display: block;
  }
  .work{
    width: 100%;
  }
  .nav-links ul li{
    display: block;
    color: #040404;
    border: #00dcd1;
}
.nav-links ul li a{
    display: block;
    color: #040404;
}
.nav-links{
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: right;
    z-index: 1;
    transition: 1s;
    margin: auto;
    
}
    

nav .fa {
    display: block;
    color: #fa7e09;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

    

    }
nav .fa-times{
    display: block;
    color: #fa7e09;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

}
.fcf-form-group{
  margin: auto;
  text-align: center;
  
}
.fcf-form-class h1{
  color: #fff;
}
.nav-links ul{
    padding: 15px;
    color: #040404;
}
.bg img{
  width: 120%;

}
  
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
  
}
