.footer{
  
    padding-bottom:10px;
    background: #000000;
   
  }
  .footer img{
  width: 200px;
  }
  .footer p{ 
    font-size: 14px;
    color: #fff;
    .footer h1{
      color: #fff;
    }
  }
  .news h1{
    color: #fff;
font-size: 60px;
  }
  @media(max-width: 700px){
.fcf-form-group{
  margin: auto;
  text-align: center;
  
}
.fcf-form-class h1{
  color: #fff;
}

    
  }