.web h1{
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  .web p{
    color: rgb(0, 0, 0);
  }
  .web{
    background-color: #ffffff;
    height: 100vh;
  }

  @media(max-width: 700px){


    
  }